extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Sean Farrell

        p Full Stack JavaScript Developer


        .about-bio

          p I can learn things real quick, like if you asked me to learn something by the time we got out of this elevator I could probably do it.  Node? Node problem heheh. Express? That's how fast I'll learn it! Whatever your coding needs, I can learn it lickety-split! 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Pickleball 
          li Reading good and other things too

        h6 Contact Info

        ul
          li 555-555-1234
          li stfarrell93@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/sean-t-farrell/') LinkedIn
        a.btn-link(href='https://github.com/stfarrell') GitHub
        //- This is the twitter account for one of my favorite musical artists: Ibeyi
        a.btn-link(href='https://twitter.com/IbeyiOfficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back