extends layout.pug

block content

  article.portfolio-intro

    h1 One Portfolio to Rule Them All

    p Here are the projects I've completed so far for the Treehouse Full Stack Development Tech Degree.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${projects.indexOf(project)}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5 #{project.project_name}
