extends layout 
block content 
    div.centerIt
        h1 #{err.message} 
        h2 #{err.status} 
        pre #{err.stack}

        h1 
            a(href='/') Home

    img.errorImg(src='/public/images/errorPic.jpg')